<div class="container">
  <h1 class="my-4">Books</h1>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
             <%= link_to book['title'], book_path(book['id']) %> - <%= book['author'] %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
